<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Project: campus-transaction
  ~ File: UserMapper.xml
  ~ Date: 2021/3/23 下午6:29
  ~ Author: TonyJam
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.user.mapper.UserMapper">
    <!-- 登录 -->
    <select id="login" resultType="com.user.entity.User">
         select * from tony_user where username=#{username} and userpwd=#{userpwd}
    </select>
    
    <!-- 注册 -->
    <insert id="register" parameterType="com.user.entity.User">
         insert into tony_user(username, userpwd, realname, sex, academy, grade, qq, phone, profile)
                    values(#{username},#{userpwd},#{realname},#{sex},#{academy},#{grade},#{qq},#{phone},#{profile})
    </insert>

    <!-- 根据username查找 -->
    <select id="findByUsername" resultType="com.user.entity.User">
        select * from tony_user where username=#{username}
    </select>

    <update id="saveInfo" parameterType="com.user.entity.User">
        update tony_user set qq=#{qq},phone=#{phone},academy=#{academy},grade=#{grade},sex=#{sex} where username=#{username}
    </update>

    
    <sql id="find1">
         select d.* from
         (select u.*,rownum r from user1 u
    </sql>
    
    <sql id="find2">
          ) d
         <![CDATA[
           where r>(#{index}-1)*#{size} and r<=#{index}*#{size}
         ]]>
    </sql>
    <!-- 模糊查询 -->
    <select id="findByName" resultType="com.user.entity.User">
      <include refid="find1"/>
        <where>
            <if test="uname!=null and uname!=''">
               and uname like '%'||#{uname}||'%'
            </if>
        </where>
      <include refid="find2"/>
    </select>
    
    <!-- 查询总记录 -->
    <select id="count" resultType="int">
         select count(1) from user1
         <where>
            <if test="uname!=null and uname!=''">
                and uname like '%'||#{uname}||'%'
            </if>
         </where>
    </select>

    <update id="changeProfile">
        update tony_user set profile=#{profile} where uuid=#{uuid}
    </update>

    <select id="findAll" resultType="com.user.entity.User">
        select * from tony_user where uuid!=0
    </select>

    <select id="findByRealname" resultType="com.user.entity.User">
        select * from tony_user where realname like '%'||#{0}||'%'
    </select>

    <insert id="add" parameterType="com.user.entity.User">
        insert into tony_user(username, userpwd, realname, sex, academy, grade, qq, phone)
        values(#{username},#{userpwd},#{realname},#{sex},#{academy},#{grade},#{qq},#{phone})
    </insert>

    <delete id="delete">
        delete from tony_user where uuid=#{uuid}
    </delete>
</mapper>
