<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Project: campus-transaction
  ~ File: CategoryMapper.xml
  ~ Date: 2021/3/24 下午5:23
  ~ Author: TonyJam
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.goods.mapper.GoodsMapper">
    <resultMap  type="com.goods.entity.Goods" id="goodsResult">
        <id column="gid" property="gid"/>
        <result column="title" property="title"/>
        <result column="publish_time" property="publish_time"/>
        <result column="content" property="content"/>
        <result column="time" property="time"/>
        <result column="buy_price" property="buy_price"/>
        <result column="sell_price" property="sell_price"/>
        <result column="picture" property="picture"/>
        <result column="views" property="views"/>
        <result column="status" property="status"/>
        <result column="area" property="area"/>
        <result column="recommendation" property="recommendation"/>
        <association property="category" javaType="com.category.entity.Category">
            <id column="cid" property="cid"/>
            <result column="name" property="name"/>
        </association>
        <association property="user" javaType="com.user.entity.User">
            <id column="uuid" property="uuid"/>
            <result column="realname" property="realname"/>
            <result column="credit" property="credit"/>
            <result column="phone" property="phone"/>
            <result column="qq" property="qq"/>
            <result column="academy" property="academy"/>
            <result column="grade" property="grade"/>
            <result column="credit" property="credit"/>
        </association>
    </resultMap>

    <!-- findAll -->
    <select id="findAll" resultMap="goodsResult">
        select g.*, u.uuid, u.realname, c.cid, c.name from tony_user u, tony_goods g, tony_category c
        where g.cid = c.cid and g.uuid = u.uuid and g.status = 1 order by #{0} desc
    </select>

    <!-- findById -->
    <select id="findById" resultMap="goodsResult">
        select g.*, u.*, c.* from tony_user u, tony_goods g, tony_category c
        where g.cid = c.cid and g.uuid = u.uuid and g.gid = #{gid}
    </select>

    <!--    findByPage-->
    <select id="findByPage" resultMap="goodsResult">
        <![CDATA[
            select res.* from
            (select g.gid, g.title, g.publish_time, g.content, g.buy_price, g.sell_price, g.picture, g.views, g.status,
            g.recommendation, u.uuid, u.realname, c.cid, c.name, rownum r from tony_user u, tony_goods g, tony_category c
            where g.cid = c.cid and g.uuid = u.uuid) res
            where r>(#{index}-1)*8 and r<=#{index}*8 order by recommendation desc
        ]]>
    </select>
    <select id="findUserGoods" resultMap="goodsResult">
        select g.* from tony_goods g, tony_user u where g.uuid = u.uuid and u.username=#{username}
    </select>

    <update id="modifyStatus">
        update tony_goods set status=#{1} where gid=#{0}
    </update>

    <update id="refresh">
        update tony_goods set recommendation=1 where gid=#{gid}
    </update>

    <update id="sellout">
        update tony_goods set status=2 where gid=#{gid}
    </update>

    <select id="searchByKeywords" resultMap="goodsResult">
        select g.*, c.*, u.* from tony_goods g, tony_category c, tony_user u where g.cid=c.cid and g.uuid=u.uuid
        and title like '%'||#{0}||'%'
        order by #{1}
    </select>

    <select id="searchByCategory" resultMap="goodsResult">
        select g.*, c.*, u.* from tony_goods g, tony_category c, tony_user u
        where g.cid=c.cid and g.uuid=u.uuid and g.cid=#{0} order by #{1} desc

    </select>

    <update id="publishGoods" parameterType="com.goods.entity.Goods">
        update tony_goods set picture=#{picture},title=#{title},content=#{content},buy_price=#{buy_price},
        sell_price=#{sell_price},cid=#{category.cid} where gid=#{gid}
    </update>

</mapper>
